# dependencies for test
pytest==3.2.3       # test framework
pytest-cov==2.5.1   # coverage test

pathlib_mate
flask
scrapy
configirl==0.0.6
mongoengine_mate==0.0.5
pymongo_mate==0.0.4
sqlalchemy_mate==0.0.10
psycopg2-binary==2.8.4
